asgiref==3.9.1
asttokens==2.4.1
black==25.1.0
click==8.2.1
colorama==0.4.6
cssbeautifier==1.15.4
devtools==0.12.2
Django==5.2
djlint==1.36.4
EditorConfig==0.17.1
executing==2.2.0
flake8==7.3.0
isort==6.0.1
jsbeautifier==1.15.4
json5==0.12.1
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
PyYAML==6.0.2
regex==2025.7.34
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
