<!-- templates/simplims_app/parametro/lista.html -->
{% extends "base.html" %}
{% block content %}

<h1>Lista de Parâmetros</h1>

<div class="d-flex align-items-center mb-3 gap-2">
    <a href="{% url 'parametro_criar' %}" class="btn btn-primary">Novo Parâmetro</a>

    <form method="get" class="mb-0 flex-grow-1">
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Buscar..." class="form-control">
    </form>
</div>


<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Unidade de Medida</th>
            <th>Categoria</th>
            <th>Tipo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
            <tr>
                 <td>{{ item.pk }}</td>
                <td>{{ item.descricao }}</td>
                <td>{{ item.unidade_medida }}</td>
                <td>{{ item.categoria_parametro }}</td>
                <td>{{ item.tipo_parametro }}</td>
                <td>
                    <a href="{% url 'parametro_editar' item.pk %}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'parametro_excluir' item.pk %}" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">Nenhum parâmetro cadastrado.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?q={{ q }}&page=1">Primeira</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?q={{ q }}&page={{ page_obj.previous_page_number }}">Anterior</a>
      </li>
    {% endif %}

    <li class="page-item disabled">
      <span class="page-link">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
      </span>
    </li>

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?q={{ q }}&page={{ page_obj.next_page_number }}">Próxima</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?q={{ q }}&page={{ page_obj.paginator.num_pages }}">Última</a>
      </li>
    {% endif %}
  </ul>
</nav>

{% endblock %}