<!-- templates/simplims_app/parametro/lista.html -->
{% extends "base.html" %}
{% block content %}

<h1>Lista de Parâmetros</h1>

<a href="{% url 'parametro_criar' %}" class="btn btn-primary">Novo Parâmetro</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Unidade de Medida</th>
            <th>Categoria</th>
            <th>Tipo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
            <tr>
                 <td>{{ item.pk }}</td>
                <td>{{ item.descricao }}</td>
                <td>{{ item.unidade_medida }}</td>
                <td>{{ item.categoria_parametro }}</td>
                <td>{{ item.tipo_parametro }}</td>
                <td>
                    <a href="{% url 'parametro_editar' item.pk %}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'parametro_excluir' item.pk %}" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">Nenhum parâmetro cadastrado.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}