<!-- templates/simplims_app/tipo_parametro/lista.html -->
{% extends "base.html" %}
{% block content %}
    <h1>Tipos de Parâmetros</h1>
    <a href="{% url 'tipo_parametro_criar' %}" class="btn btn-primary">Novo Tipo de Parametro</a>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
                <tr>
                    <td>{{ item.pk }}</td>
                    <td>{{ item.descricao }}</td>
                    <td>
                        <a href="{% url 'tipo_parametro_editar' item.pk %}"
                           class="btn btn-sm btn-warning">Editar</a>
                        <a href="{% url 'tipo_parametro_excluir' item.pk %}"
                           class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">Nenhum tipo de parametro cadastrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
